<!DOCTYPE html>
<html>
<head>
	<title>Aircraft Details</title>
</head>
<body>
	<h1>Aircraft Details</h1>
	<p>Aircraft Class: {{ aircraft.aircraft_class_name }}</p>
    <p>Company Name: {{ company.name }}</p>
    <p>Company Phone: {{ company.phone }}</p>
    <p>Company Website: {{ company.website }}</p>
	  <p>Airport Name: {{ airport.name }}</p>
		<p>Airport IATA: {{ airport.iata }}</p>
		<p>Airport ICAO: {{ airport.icao }}</p>
    

	
	<!-- Display images -->
	{% if aircraft.images %}
		{% for image in aircraft.images %}
			<img src="{{ image.url }}" alt="{{ image.image_type }}">
		{% endfor %}
	{% endif %}
	
</body>
</html>